boto3
botocore
Django==3.2.1
django-ckeditor
django-cors-headers
django-hosts
django-storages
djangorestframework
django-editorjs
whitenoise
gunicorn
psycopg2-binary
django-allauth
fontawesome-free
sorl-thumbnail
django-mdeditor
django-markdownify
dj-database-url
requests
pyocclient
djangorestframework-simplejwt
django-daterangefilter
django-admin-numeric-filter
django-admin-charts
pillow
earthengine-api
django-leaflet
graphene-django
sqlalchemy
rasterio
turfpy
shapely
geopandas
python-decouple